html,
body {
	min-height: 100%;
	font-family: "Nanum Gothic", sans-serif;
}

#error-page {
	width: 100%;
	background-color: white;
}

.error-page-top-container {
	position: relative;
	width: 100%;
	height: 70px;
}

.error-page-top-container-img {
	position: absolute;
	left: 133px;
	top: 31px;
}

.error-page-main-content {
	position: relative;
	width: 100%;
}

.error-page-main-content-img {
	position: absolute;
	left: 145px;
	top: 116px;
	width: 469px;
	height: auto;
}

.error-page-main-content-header {
	position: relative;
	top: 250px;
	left: 848px;
	text-align: center;

	display: inline-block;
}

.error-page-main-content-header-headings {
	font-weight: bold;
	letter-spacing: 10px;
	font-size: 55px;
}

.error-page-main-content-header p {
	margin: 5px;
	font-weight: lighter;
	color: rgb(72, 72, 72);
	font-size: 20px;
}
